.shopbg {
  width: 100%;
  height: 50vh;
  background: url(https://dg19fhsjeexqh.cloudfront.net/images/media/2022/08/gcodVleprElRN9n3Jh737gxjs1UeRib5tNoNho2p.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px #454545;
  font-weight: bold;
}
.shopBgImg {
  width: 100%;
}

.shopContainer {
  width: 100%;
}

.category-part {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
}

.productContainer {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

svg.svg-inline--fa.fa-xmark.fa-xs {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 36px;
  z-index: 2;
  cursor: pointer;
}

/* newsletter */

.newsletter {
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.keepintouch {
  margin-top: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.newsletter .form {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #212529;
  margin: 30px 0;
  padding-bottom: 8px;
}

.newsletter .btn-primary {
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  background: none;
  color: #000;
  border: 2px solid #000;
  letter-spacing: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.newsletter .btn-primary:hover {
  color: #000;
  background: none;
  border: 2px solid #000;
}

.contents h2 {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}

.contents span {
  text-transform: lowercase;
  font-style: italic;
  margin-right: 5px;
}

.newsletter .btn-primary:focus {
  background: transparent;
}

.newsletter .form::placeholder {
  font-family: "Poppins", sans-serif;
}

svg.svg-inline--fa.fa-xs {
  font-size: 30px;
  padding-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fonticon span {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  align-items: center;
  margin-left: 10px;
}

.fonticon {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.newsletter-icon {
  padding: 50px;
}

.support-area {
  padding: 50px 15px;
  background-color: #f7f7f8;
}

.support-section {
  width: 100%;
  background: #f7f7f8;
}

.support-area {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.support-section .support-content h5 {
  letter-spacing: 2px;
  font-size: 12px;
  padding: 12px 0 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.support-section .support-content li {
  list-style: none;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  color: #666;
  font-weight: 400;
  text-transform: capitalize;
}

.support-content svg.svg-inline--fa.fa-xs {
  font-size: 17px;
  color: #666;
  font-weight: 400;
  margin-right: 2px;
}

.ssl-img {
  margin-top: 2px;
}

/* footer */

.copyright-section {
  border-top: 1px solid #fafafa;
  padding: 3px 15px;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: capitalize;
  background-color: #f1f0f0;
}

.copyright-section .row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.copyright {
  font-weight: 400;
  font-size: 15px;
}

.copyright-section p {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: capitalize;
}

.copyright-section a {
  text-decoration: none;
}

.copyright-section .right {
  text-align: right;
}

.btnfor {
}

.clicky {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
